# Virtual Environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment Variables
.env

# History file
history.csv

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

results/
spam_model/